<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="modal_crop_profile" th:remove="tag">
		<!-- <div class="modal-on-load" data-target="#myModal1"></div> -->

		<div class="modal1 mfp-hide" id="myModal1">
			<div class="block mx-auto"
				style="background-color: #FFF; max-width: 500px;">
				<div class="center" style="padding: 50px;">
					<h3>Update your profile picture</h3>
					<br>
					<div class="upload-demo-wrap">
						<div id="upload-demo"></div>
					</div>

				</div>
				<div class="section center m-0" style="padding: 30px;">
					<button id="btnCropClose" class="button">Done</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>