<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: page_head('Green Furinture', 'none')" />
<body>
	<header id="home" class="welcome-hero">
		<div th:replace="fragment :: top-area"></div>
	</header>

	<section id="login" class="populer-padding">
		<div class="container">
			<div class="row">
				<div
					class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 md-padding">
					<div class="container-fluid">
						<img id="fileSelect" th:src="${customer.photoPath}"
							class="alignleft img-circle img-thumbnail img-profile"
							alt="Avatar">
							<a id="myModalHRef" href="#myModal1" data-lightbox="inline" class="button button-large button-rounded" hidden="true">Trigger Modal</a>
					</div>
					<h1 class="navbar-brand">Green Academy</h1>
					<br>

					<form class="join" th:action="@{/profile}" method="post" th:object="${customer}">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<input type="file" id="fileElem" multiple accept="image/*"
										style="display: none">
									<input type="hidden" id="imagebase64" name="imagebase64" th:field="*{imagebase64}">
								</div>
								<div class="col-sm-12">
									<input type="email" name="email" value="" placeholder="E-mail"
										required="required" class="form-control" th:field="*{email}" ><br>
								</div>
								<div class="col-sm-12">
									<input type="password" name="password" value=""
										placeholder="Password" required="required"
										class="form-control" th:field="*{password}"><br>
								</div>
								<div class="col-sm-12">
									<input type="password" name="password-confirm" value=""
										placeholder="Confirm Password" required="required"
										class="form-control" th:field="*{passwordRetype}" ><br>
								</div>
								<div class="col-sm-12">
									<input type="text" name="name" value=""
										placeholder="Your name here" required="required"
										class="form-control" th:field="*{fullName}" ><br>
								</div>
								<div class="col-sm-12">
									<input type="text" name="phone" value="" placeholder="Phone"
										required="required" class="form-control" th:field="*{phoneNumber}" ><br>
								</div>
							</div>
						</div>

						<br>
						<button th:href="@{/profile}" th:method="post" class="btn btn-primary"
							style="width: 100%;">
							<i class="ion-log-in" style="margin: 8px"></i>Sign Up
						</button>
						<br>

					</form>
					<div th:replace="modal_fragments :: modal_crop_profile"></div>
					<br class="hidden-sm hidden-md hidden-lg">
				</div>
			</div>
		</div>

	</section>

	<!-- JavaScripts
	============================================= -->
	<script th:src="@{assets/js/jquery.js}"></script>
	<script th:src="@{assets/js/plugins.min.js}"></script>
	<script th:src="@{assets/js/functions.js}"></script>
	<script th:src="@{assets/js/croppie.js}"></script>

	<script type="text/javascript">
		const MAX_FILE_SIZE = 802400;
		var $uploadCrop;

		$(document).ready(function() {
			$uploadCrop = $('#upload-demo').croppie({
				viewport: { width: 200, height: 200, type: 'circle' },
				boundary: { width: 300, height: 300 },
				enableExif: true
			});
			
			$("#fileSelect").on("click", function() {
				$("#fileElem").click();
			});

			$("#fileElem").change(function() {
				if (!checkFileSize(this)) {
					return;
				}
				$("#myModalHRef").click();
				readFile(this);
			});
			
			$("#btnCropClose").on('click', function () {
				$uploadCrop.croppie('result', {
					type: 'canvas',
					size: 'viewport'
				}).then(function (resp) {
					$.magnificPopup.close();
					$("#imagebase64").val(resp);
					popupResult({
						src: resp
					});
				});
			});
		});

		function readFile(input) {
 			if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
					$('.upload-demo').addClass('ready');
	            	$uploadCrop.croppie('bind', {
	            		url: e.target.result
	            	}).then(function(){
	            		console.log('jQuery bind complete');
	            	});
	            	
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
		}
		
		function popupResult(result) {
			var html;
			if (result.html) {
				html = result.html;
			}
			if (result.src) {
				$("#fileSelect").attr("src", result.src);
			}
		}
		
		function handleFiles(fileInput) {
			var file = fileInput.files[0];
			var reader = new FileReader();
			reader.onload = function(e) {
				$("#fileSelect").attr("src", e.target.result);
			};

			reader.readAsDataURL(file);
		}

		function checkFileSize(fileInput) {
			fileSize = fileInput.files[0].size;

			if (fileSize > MAX_FILE_SIZE) {
				fileInput
						.setCustomValidity("You must choose an image less than "
								+ MAX_FILE_SIZE + " bytes!");
				fileInput.reportValidity();

				return false;
			} else {
				fileInput.setCustomValidity("");

				return true;
			}
		}
	</script>
</body>
</html>