<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>New product</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" th:href="@{/}">KARL FASION STORE</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..."
					aria-label="Search for..." aria-describedby="btnNavbarSearch" />
				<button class="btn btn-primary" id="btnNavbarSearch" type="button">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown"sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" th:href="@{/profile}" sec:authentication="name" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                        <li sec:authorize="isAuthenticated()"><a class="dropdown-item" onclick="document.getElementById('formlogout').submit()">Logout</a>
                        	<form id="formlogout" th:action="@{/logout}" method="POST">
									
							</form>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">

						<a class="nav-link" th:href="@{/products}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Products
						</a> <a class="nav-link" th:href="@{/users-list}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Users
						</a> <a class="nav-link" th:href="@{/categories-list}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Categories
						</a> <a class="nav-link" th:href="@{/customers-list}">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"> </i>
							</div> Customer
						</a>
						<a class="nav-link" th:href="@{/roles-list}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Roles
                        </a>
                        <a class="nav-link" th:href="@{/orders-list}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Orders
                        </a>
					</div>
				</div>

			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">New product</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">New product</li>
					</ol>

					<form th:action="@{/save-product}" th:method="post"
						th:object="${product}" enctype="multipart/form-data">
						<div class="card-body">
							<div class="form-group">
								<b>Name</b> <input th:field="*{name}" type="text"
									class="form-control" required="required"> <br>
							</div>

							<div class="form-group">
								<b>Code</b> <input th:field="*{code}" type="text"
									class="form-control" required="required"> <br>
							</div>

							<div class="form-group">
								<b>Description</b> <input th:field="*{description}" type="text"
									class="form-control" required="required"> <br>
							</div>

							<div class="form-group">
								<b>Price</b> <input th:field="*{price}" type="text"
									class="form-control" required="required"> <br>
							</div>

							<div class="form-group">
								<b>Sale Price</b> <input th:field="*{sale_price}" type="text"
									class="form-control" required="required"> <br>
							</div>

							<div class="form-group">
								<b>Category &emsp;</b> <select th:field="*{category}">
									<th:block th:each="cat : ${listCategories}">
										<option th:value="${cat.id}">[[${cat.name}]]</option>
									</th:block>
								</select>
							</div>
							
							<br>

							<div class="form-group">
								<b>Photo</b> <input type="file"
									class="form-control" name="fileImage" id="fileImage"
									accept="image/png, image/jpeg" required="required"> <br>
							</div>
							
							<div class="form-group">
								<img id="thumbnail" alt="Logo preview" style="max-width: 250px; margin: 0 auto;">
							</div>

						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<br>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>

				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2021</div>

					</div>
				</div>
			</footer>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('#fileImage').change(function(){
				showImageThumbnail(this);
			});
		});
		
		function showImageThumbnail(fileInput){
			file = fileInput.files[0];
			reader = new FileReader();
			reader.onload = function(e){
				$('#thumbnail').attr('src', e.target.result);
			};
			
			reader.readAsDataURL(file);
		}
		
		
	</script>
	
	<script src="js/scripts.js"></script>
	<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
