@charset "UTF-8";

hr.offset-xxs {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 1px;
}

hr.offset-xs {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 5px;
}

hr.offset-sm {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15px;
}

hr.offset-md {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25px;
}

hr.offset-lg {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 35px;
}

.no-margin {
	margin: 0;
}

.xs-margin {
	margin: 0 10px;
}

.no-padding {
	padding: 0;
}

.xs-padding {
	padding: 0 15px;
	box-sizing: border-box;
}

.sm-padding {
	padding: 0 30px;
	box-sizing: border-box;
}

.btn.btn-facebook {
	display: block;
	width: 100%;
	background-color: #3B599C;
	color: #fff;
	background-color: #3B599C;
}

.btn.btn-facebook:hover, .btn.btn-facebook:active {
	background-color: #5c7cc3;
	color: #fff;
}

.populer-padding {
	padding: 100px 0 0;
}

.p-small {
	margin: 0;
	color: #5f5b57;
	font-size: 13px;
	line-height: 1.8;
	text-align: justify;
	text-justify: inter-word;
}

.p-invalid {
	color: #ff0000;
	font-size: 13px;
	line-height: 1.8;
}

.img-profile {
	object-fit: cover;
	width: 96px;
	height: 96px;
}

.center {
	text-align: center !important;
}

.mx-auto {
	float: none !important;
}

.modal1 {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); } .upload-demo .upload-demo-wrap ,
	.upload-demo .upload-result , .upload-demo .ready .upload-msg {
	display: none;
}

.upload-demo.ready .upload-demo-wrap {
	display: block;
}

.upload-demo.ready .upload-result {
	display: inline-block;
}

.upload-demo-wrap {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.upload-msg {
	text-align: center;
	padding: 50px;
	font-size: 22px;
	color: #aaa;
	width: 260px;
	margin: 50px auto;
	border: 1px solid #aaa;
}